.header{
    text-align: center;
}
.logo{
    height: 50px;
}
.header nav{
    
    
    background-color: black;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin: 10px;
    
}
.header nav a:hover{
    background-color: rgb(207, 183, 183);
}